 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Space Grotesk',
        sans-serif;
    color: white;
    background-color: #091a23;
    line-height: 1.6;
}

.upheader{
    background-color: #163341;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    
}

.upheader span{
    margin: 0 5px;
}

.upheader i{
    margin-left: 3px;
    vertical-align: middle;
}

.special-color{
    color: #DCFF1E;
}
.main-header{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 16px 24px;
   border-bottom: 1px solid #1c2b34;
    position: sticky;
    top: 0;
    left: 0;
    background: #091a23;
}

.logo{
    padding-left: 100px;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-left: 32px;
}

.nav-left, .nav-right{
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    padding-right: 75px;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.nav-bar a:hover{
    color: #8a221c;
}

.nav-bar .btn{
    background-color: #351d22;
    border: 1px solid #ff3c28;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 500;
}

.redis-btn{
    background-color: #351d22;
    border: 1px solid #351d22;
    padding: 7px 16px 5px 14px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}

.icon{
    height: 12px;
    width: 12px;
    fill: #ff3c28;
    color: #ff3c28;
}

.redis-btn{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-bar .btn:hover{
    background-color: #8a221c;
    color: white;
}

.hero{
    padding: 6rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 auto;
    width: 800px;
}

.hero p{
    font-size: 16px;;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.hero-buttons .btn{
    padding: 12px 40px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.try-btn{
    background-color: #351D22;
    border: 1px solid #ff3c28;
    color: white;
}

.get-btn{
    background-color: #163341;
    border: 1px solid #1c4355;
    color: white;
    padding: 12px 40px;
}

.images{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
}

.features{
    padding: 64px 32px;
    text-align: center;
    color: white;
}

.features > p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: left;
    padding-left: 100px;
} 

.features .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;  
    margin-left: 100px;
    margin-right: 100px;
}

.top-row,
.bottom-row{
    display: flex;
    gap: 16px;
}

.features .card{
    background: #0d1b23;
    border: 2px solid #1f2f38;
    border-radius: 12px;
    padding: 24px;
    height: 360px;
    width: 268px;
    text-align: left;
    color: #d7e0e5;
}

.big-card{
    width: 550px;
    height: 360px;
    flex: 0 0 auto;
    border: 2px solid #1f2f38;
    border-radius: 12px;
    padding: 24px;
    background: #0d1b23;
}

.big-card .main-text{
    text-align: left;
}

.bigp{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: left;
    width: 250px;
}

.second-container{
    display: flex;
    gap: 16px;
}

.third-container{
    display: flex;
    gap: 16px;
}

.container .main-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    color: white;
}

.card p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.deploy{
    padding: 64px 24px;
    text-align: center;
    color: white;
}

.deploy > p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    text-align: left;
    padding-left: 100px;
}

.deploy .main-text{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;
    color: white;
}

.deploy{
    display: flex;
    flex-direction: column;
}

.deploy-container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 100px;
}

.deploy-card{
    border: 1px solid #163341;
    background-color: #0d212c;
    border-radius: 12px;
    padding: 32px;
    flex: 1 1 300px;
    text-align: left;
}

.deploy-card p{
    font-size: 14px;
    margin: 8px 0 16px;
    color: #cfcfcf;
}

.deploy-btn {
    display: inline-block;
    padding: 9px 16px;
    background: #163341;
    border: 1px solid #2d4754;
    color: white;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.deploy-image{
    display: flex;
    gap: 16px;
}

.tech-stack{
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

.tech-stack p{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    text-align: left;
    font-size: 32px;
    line-height: 120%;
    font-weight: 400;
}

.tech-stack button{
    margin-left: 100px;
    margin-top: 16px;
    font-family: inherit;
}

.tech-images{
    margin-right: 100px;
}

.last-card{
    display: flex;
    justify-content: end;
}

.stack-btn{
    display: inline-block;
    padding: 10px 24px;
    background: #163341;
    border: 1px solid #2d4754;
    color: white;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.code-section{
    text-align: center;
    padding-top: 64px;
}

.code-section h5{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 120%;
}

.code-section ul{
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
    border: 1px solid #0d212c;
    background: #0d212c;
    border-radius: 12px;
    height: 500px;
    width: 60%;
    margin: 20px auto;
}

.code-section li{
    padding: 16px;
}

.code-section ul a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: left;
}

.the-features{
    color: white;
    padding: 64px 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 80px;
    margin-top: 150px;
}

.features-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 40px;
    margin-bottom: 100px;
    margin-right: 100px;
    row-gap: 32px;
    column-gap: 80px;
}

.features-left{
    width: 450px;
}

.features-left h3{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 100px;
    line-height: 120%;
}

.features-left p{
    color: #cfd8e3;
    margin-bottom: 20px;
    padding-left: 100px;
}

.features-btn{
    display: inline-block;
    padding: 10px 24px;
    background: #163341;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 400;
    margin-left: 100px;
}

.text-image{
    display: flex;
    gap: 16px;
}

.text-image p{
    font-size: 16px;
    line-height: 160%;
    text-align: left;
    font-weight: 500;
}

.text-image img{
    height: auto;
    vertical-align: baseline;
    max-width: 100%;
}

.features-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(50%-40px);
}

.card-p{
    margin-bottom: 48px;
    color: #b9c2c6;
}

.community h4{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 16px;
}

.community p{
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.community-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.community-btn .btn{
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #ff4438;
    background-color: #351d22;
    font-size: 14px;
    margin-bottom: 32px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.community-btn .btn:hover{
    background-color: #8a221c;
}

.community-boxes{
    column-count: 3;
    column-gap: 20px;
    margin: 0 120px 72px;
}

.box-card{
    border: 1px solid #163341;
    background: #0d212c;
    border-radius: 12px;  
    margin-bottom: 16px;
    break-inside: avoid;
}

.get-started h4{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom:  16px;
    margin-top: 100px;
}

.get-started p{
    text-align: center;
    color: #d9d9d9;
    font-size: 16px;
}

.start-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.start-btn .btn{
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 100px;
}

.start-btn .btn1{
    border: 1px solid #ff4438;
    background-color: #351d22;
    color: #fff;
}

.start-btn .btn2{
    background-color: #12303c;
    border: 1px solid #1c4355;
    color: #fff;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px;
    width: 100%;
    max-width: 314px;
    padding-top: 45px;
}

.footer-logo{
    margin-bottom: 32px;
}

.social-icons{
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 12px;
    border-radius: 100%;
    background: #163341;
}

.footer-anchor a{
    display: flex;
    flex-direction: column;
    color: #8a99a0;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}

#languages{
    background: #0d212c;
    color: #d9d9d9;
    border: 1px solid #2d4754;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    /* width: 50px; */
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 75px;
    margin-top: 16px;
    font-family: inherit;
}

.started-footer{
    background: linear-gradient(180deg, #163341, #091a23);
    padding-top: 16px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 116px;
}

.footer-container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
    max-width: 800px;
}

.footer-card a{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 12px;
}

.footer-card h4{
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500;
    /* margin-top: 24px; */
}

.card2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-card,
.left-card {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.footer-card{
     width: 150px;
    
}

.footer-card a{
    text-decoration: none;
    color: #8a99a0;
    margin-bottom: 8px;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}

.image-wrapper .footer-icon{
    width: 130%;
    
}